html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

body._active {
    overflow: hidden;
}

/* * {
    border: 1px solid red;
} */

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-min {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.anchor {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 40px;
    width: 40px;
    background-color: #FF553E;
    box-shadow: 2px 2px 10px #ff553e;
    border-radius: 6px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.35s;
}

.anchor._active {
    opacity: 1;
}

.anchor span {
    height: 10px;
    width: 10px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
}

/* header */
.header {
    background-color: #FFF8F2;
    height: 100px;
    font-weight: 500;
    width: 100%;
    z-index: 5;
    transition: 0.4s;
    position: absolute;
}

.header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 248, 242, 0.8);
    height: 80px;
}

.header-iner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    transition: 0.4s;
    transform: translateY(-40px);
    opacity: 0;
    animation: baner-info 1s forwards;
}

.header-iner.header-fixed {
    padding: 10px 0;
    align-items: center;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.header-menu-iner {
    height: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header-menu-item {
    margin: 0 24px;
}

.header-menu__link {
    text-decoration: none;
    color: #000;
}

.header-auth {
    display: flex;
}

.header-auth__item:nth-child(1) {
    color: #FF553E;
    display: flex;
    height: 60px;
    align-items: center;
    margin-right: 36px;
}

.header-auth__item:nth-child(2) {
    color: #fff;
    background-color: #FF553E;
    height: 60px;
    width: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
}

.header-burger {
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
    position: relative;
}

.header-burger__item {
    height: 2px;
    width: 40px;
    background-color: #FF553E;
    display: inline-block;

    transition: 0.5s;
}

.header-burger__item:nth-child(1) {
    content: '';
    height: 2px;
    width: 40px;
    background-color: #FF553E;
    position: absolute;
    top: 0px;
    transition: 0.5s;
}

.header-burger__item:nth-child(2) {
    transition: 0.5s;
}

.header-burger__item:nth-child(3) {
    content: '';
    height: 2px;
    width: 40px;
    background-color: #FF553E;
    position: absolute;
    bottom: 0px;
    transition: 0.5s;
}

.header-burger._active .header-burger__item:nth-child(2) {
    transform: translateX(-100px);
    opacity: 0;
}

.header-burger._active .header-burger__item:nth-child(1) {
    top: 15px;
    transition: 0.5s;
    transform: rotate(0deg);
    animation: burger-item-top 0.5s linear forwards;
    animation-delay: 0.5s;
}

.header-burger._active .header-burger__item:nth-child(3) {
    bottom: 14px;
    transition: 0.5s;
    transform: rotate(0deg);
    animation: burger-item-bot 0.5s linear forwards;
    animation-delay: 0.5s;
}


@keyframes burger-item-top {
    100% {
        transform: rotate(45deg);
    }
}

@keyframes burger-item-bot {
    100% {
        transform: rotate(-45deg);
    }
}

.burger-menu {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 248, 242);
    display: flex;
    /* display: none; */
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.burger-menu._active {
    left: 0;
}

.burger-menu-iner {
    padding: 0;
    list-style: none;
    text-align: center;
}

.burger-menu-item {
    margin: 20px 0;
}

.burger-menu__link {
    color: #FF553E;
    font-size: 26px;

}

.burger-auth {
    display: flex;
}

.burger-auth__item {
    display: inline-block;
    height: 50px;
    width: 100px;
    border: radius 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF553E;
    border-radius: 30px;
    margin: 0 20px;
}

.burger-auth__item:nth-child(1) {
    color: #FF553E;
}

.burger-auth__item:nth-child(2) {
    background-color: #FF553E;
    color: #fff;
}

/* body {
    overflow: hidden;
} */



/* baner */
.baner {
    height: 1066px;
    background-color: #FFF8F2;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 100px;
}

.baner-top {
    display: flex;
    justify-content: center;
    text-align: center;
}

.baner-title {
    font-weight: 700;
    font-size: 64px;
    position: relative;
}

.baner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
    transform: translateY(-100px);
    opacity: 0;
}

.baner-info._active {
    transform: translateY(0px);
    opacity: 1;
}

@keyframes baner-info {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.baner-title__item {
    margin: 22px 0;
}

.baner-title__item:nth-child(2) {
    position: relative;
    margin: 22px 0;
    z-index: 2;
}

.baner-title__item:nth-child(2)::before {
    content: url('/img/Shape.svg');
    position: absolute;
    top: 20px;
    left: 0;
}

.baner-title__item:nth-child(2)::after {
    content: 'Tracking';
    position: absolute;
    top: 0;
    left: 0;
}

.baner-info__text {
    color: #40201E;
    max-width: 440px;
}

.baner__link {
    background-color: #FF553E;
    color: #fff;
    padding: 24px 40px;
    border-radius: 40px;
    margin-top: 68px;
}

.baner-iner {
    position: relative;
}

.baner-images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.baner__image {
    position: absolute;
}

.baner__image:nth-child(1) {
    top: 100px;
    left: 200px;
    opacity: 0;
    transform: translateX(-100px);
}

.baner__image:nth-child(1)._active {
    opacity: 1;
    transform: translateX(0px);
}

.baner__image:nth-child(2) {
    top: 130px;
    left: 330px;
    opacity: 0;
    transform: translateY(-150px);
}

.baner__image:nth-child(2)._active {
    transform: translateY(0px);
    opacity: 1;
}

.baner__image:nth-child(3) {
    top: 0;
    right: -15px;
    opacity: 0;
    transform: translateX(50px);
}

.baner__image:nth-child(3)._active {
    opacity: 1;
    transform: translateX(0px);
}

.baner__image:nth-child(4) {
    height: 926px;
    top: 270px;
    right: -115px;
    transform: translateX(500px);
    opacity: 0;
}

.baner__image:nth-child(4)._active {
    transform: translateX(0px);
    opacity: 1;
}

.baner__image:nth-child(5) {
    height: 680px;
    left: 40px;
    top: 290px;
    opacity: 0;
    transform: translateX(-500px);
}

.baner__image:nth-child(5)._active {
    opacity: 1;
    transform: translateX(0px);
}

.baner__image:nth-child(6) {
    left: 636px;
    top: 683px;
    opacity: 0;
}

.baner__image:nth-child(6)._active,
.baner__image:nth-child(7)._active,
.baner__image:nth-child(8)._active {
    opacity: 1;
}

.baner__image:nth-child(7) {
    right: 290px;
    top: 150px;
    opacity: 0;
}

.baner__image:nth-child(8) {
    right: 650px;
    top: 650px;
    opacity: 0;
}

.baner__image:nth-child(9) {
    right: 500px;
    top: 500px;
    opacity: 0;
    transform: translateY(280px);
}

.baner__image:nth-child(9)._active {
    opacity: 1;
    transform: translateY(0px);
}

.baner-bot {
    position: absolute;
    left: -15px;
    bottom: -450px;
    height: 244px;
    background-color: #fff;
    width: 1496px;
    border-radius: 0 140px 0 0;
}

.baner-bot::before {
    content: '';
    background-color: #fff;
    height: 110px;
    width: 600px;
    position: absolute;
    right: -550px;
    bottom: 6px;
}

.baner-bot::after {
    content: '';
    height: 100px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    top: 79px;
    right: -15px;
    transform: rotate(-33deg);
}

.baner-bot-iner {
    display: flex;
    justify-content: space-evenly;
    height: 244px;
    align-items: center;
}

.baner-bot-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baner-bot__title {
    font-weight: 600;
    font-size: 48px;
}

.baner-bot__info {
    color: #404040;
}

/* features */
.features-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
}

.features-title._active {
    transform: translateY(0px);
    opacity: 1;
}

.features-title__item_underline {
    position: relative;
    color: transparent;
}

.features-title__item_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    top: 15px;
}

.features-title__item_underline::after {
    content: 'Features';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
}

.features-title__item:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
    position: relative;
}

.features-title__item:nth-child(2),
.features-title__item:nth-child(3) {
    font-size: 18px;
    color: #404040c4;
    margin-top: 20px;
}

.features-wrapper {
    position: relative;
    margin-top: 165px;
}

.features-wraper__img {
    position: absolute;
}

.features-wraper__img:nth-child(1) {
    right: 515px;
    top: 204px;
    opacity: 0;
}

.features-wraper__img:nth-child(1)._active {
    right: 230px;
    top: -20px;
    opacity: 1;
}

._anim-items {
    transition: 1s;
}

.features-wraper__img:nth-child(2) {
    top: -150px;
    left: -100px;
    opacity: 0;
}

.features-wraper__img:nth-child(2)._active {
    top: -150px;
    left: 0;
    opacity: 1;
}

.features-cadrs {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.features-card-wrapper {
    perspective: 1000px;
}

.features-card-front {
    width: 312px;
    height: 202px;
    border-radius: 48px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    opacity: 0;
}

.features-card-back {
    width: 312px;
    height: 202px;
    padding: 28px;
    border-radius: 48px;
    backface-visibility: hidden;
    opacity: 0;
}

.features-card-back {
    transform: rotateY(0deg);
}

.features-card-front._active {
    transform: rotateY(0deg);
    opacity: 1;
}

.features-card-back._active {
    transform: rotateY(180deg);
    opacity: 1;
}

.features-card-wrapper:nth-child(1) .features-card-front,
.features-card-wrapper:nth-child(1) .features-card-back {
    background-color: #70D0DC;

}

.features-card-wrapper:nth-child(2) .features-card-front,
.features-card-wrapper:nth-child(2) .features-card-back {
    background-color: #7562E0;
    transition-delay: 0.2s;
}

.features-card-wrapper:nth-child(3) .features-card-front,
.features-card-wrapper:nth-child(3) .features-card-back {
    background-color: #FA865F;
    transition-delay: 0.4s;
}

.features-card-title {
    display: flex;
    flex-direction: column;
}

.features-card-title:nth-child(1) {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.features-card-title:nth-child(2),
.features-card-title:nth-child(3) {
    color: #fff;
    font-size: 18px;
    margin-top: 6px;
}


.features-card-img-iner {
    height: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: double 1px transparent;
    border-radius: 24px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.832), rgb(255, 255, 255, .5));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.features-card-img-iner:before {
    content: '';
    position: absolute;
    height: 87px;
    width: 86px;
    border-radius: 24px;
    bottom: 0;
}

.features-card-front:nth-child(1) .features-card-img-iner::after {
    content: url('/img/task-list.svg');
    position: absolute;
}

.features-card-front:nth-child(1) .features-card-img-iner:before {
    background-color: rgba(183, 231, 237);
}

.features-card-wrapper:nth-child(2) .features-card-front .features-card-img-iner::after {
    content: url('/img/bell_1.svg');
    position: absolute;
}

.features-card-wrapper:nth-child(2) .features-card-front .features-card-img-iner:before {
    background-color: rgba(186, 176, 239);
}


.features-card-wrapper:nth-child(3) .features-card-front .features-card-img-iner::after {
    content: url('/img/agenda_1.svg');
    position: absolute;
}

.features-card-wrapper:nth-child(3) .features-card-front .features-card-img-iner:before {
    background-color: rgb(252, 194, 175);
}

/* analytics */
.analytics {
    overflow: hidden;
}

.analytics-wraper {
    display: flex;
    margin-top: 190px;
    margin-bottom: 150px;
}

.analytics-iner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}

.analytics-title {
    opacity: .2;
    transform: translateY(120%);
}

.analytics-title._active {
    opacity: 1;
    transform: translateY(0%);
}

.analytics-title__item {
    font-weight: 700;
    font-size: 48px;
    display: inline-block;
    flex-direction: column;
}

.analytics-title__item_underline {
    position: relative;
}

.analytics-title__item_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    top: 20px;
    left: -27px;
}

.analytics-title__item_underline::after {
    content: 'Reporting';
    position: absolute;
    top: -1px;
    left: 0;
}

.analytics-info {
    margin-top: 50px;
    transform: translateY(120%);
    opacity: .2;
}

.analytics-info._active {
    transform: translateY(0%);
    opacity: 1;
}

.analytics-info__item {
    font-size: 18px;
    color: #404040;
    margin: 5px 0;
    display: inline-block;
}

.analytics-row {
    display: flex;
    margin: 64px 0;
    transform: translateX(500px);
    opacity: 0;
}

.analytics-row._active {
    transform: translateX(0px);
    opacity: 1;
}

.analytics-row:nth-child(1) .analytics-row-img-iner {
    background-color: #FA855C;
}

.analytics-row:nth-child(2) .analytics-row-img-iner {
    background-color: #7AD6E1;
}

.analytics-row:nth-child(3) .analytics-row-img-iner {
    background-color: #FFC954;
}

.analytics-row-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: space-between;
}

.analytics-row-title {
    font-weight: 700;
    font-size: 28px;
}

.analytics-row-img-iner {
    height: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.analytics-right {
    overflow: hidden;
}

.analytics-right-iner {
    max-width: 568px;
}

.analytics-left__img:nth-child(2) {
    position: absolute;
    top: -60px;
    left: -75px;
    transform: translateY(20%);
    opacity: 0;
}

.analytics-left__img:nth-child(2)._active {
    transform: translateY(0%);
    opacity: 1;
}

.analytics-left__img:nth-child(3) {
    position: absolute;
    top: -125px;
    left: -180px;
}

.analytics-left__img:nth-child(4) {
    position: absolute;
    top: -120px;
    left: 225px;
    transform: translateX(50px);
    opacity: 0;
}

.analytics-left__img:nth-child(4)._active {
    transform: translateX(0px);
    opacity: 1;
}

.analytics-left__img:nth-child(5) {
    position: absolute;
    top: 116px;
    left: -160px;
    transform: translateX(-100px);
    opacity: 0;
}

.analytics-left__img:nth-child(5)._active {
    transform: translateX(0px);
    opacity: 1;
}

.analytics-left__img:nth-child(6) {
    position: absolute;
    top: 260px;
    left: 110px;
    opacity: 0;
    transform: translateX(100px);
}

.analytics-left__img:nth-child(6)._active {
    opacity: 1;
    transform: translateX(0px);
}

.analytics-left__img:nth-child(7) {
    position: absolute;
    bottom: 58px;
    left: 16px;
    transform: translateX(-250px);
    opacity: 0;
}

.analytics-left__img:nth-child(7)._active {
    transform: translateX(0px);
    opacity: 1;
}

.analytics-left__img:nth-child(8) {
    position: absolute;
    bottom: 90px;
    left: 400px;
}

.analytics-left__bground {
    height: 616px;
    width: 776px;
    background-color: #FFF8F2;
    position: absolute;
    top: 0;
    left: -390px;
}

/* benefits */
.benefits {
    background-color: #F3FDFE;
    overflow: hidden;
}

.benefits-wrapper {
    padding-bottom: 140px;
    position: relative;
}

.benefits-content-iner {
    display: flex;
    flex-direction: column;
}

.benefits-title {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    transform: translateY(100px);
    opacity: .2;
}

.benefits-title._active {
    transform: translateY(0px);
    opacity: 1;
}

.benefits-title__item:nth-child(1) {
    font-weight: 600;
    font-size: 48px;
}

.benefits-title__item:nth-child(2),
.benefits-title__item:nth-child(3) {
    font-size: 18px;
    color: #404040cb;
    margin-top: 24px;
}

.benefits-title__item_underline {
    position: relative;
}

.benefits-title__item_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    top: 15px;
    left: 0;
}

.benefits-title__item_underline::after {
    content: 'Tracker';
    position: absolute;
    top: -1px;
    left: 0;
}

.benefits-col {
    margin: 64px 0;
    display: flex;
    transform: translateX(200px);
    opacity: 0;
}

.benefits-col._active {
    opacity: 1;
    transform: translateX(0px);
}

.benefits-col:nth-child(2) {
    margin-left: 174px;
}

.benefits-col-item {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.benefits-col__text {
    margin-top: 23px;
}

.benefits-col__title {
    color: #404040;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}

.benefits-logo-iner {
    height: 116px;
    width: 116px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-col:nth-child(1) .benefits-logo-iner {
    background-color: #5BC17F;
}

.benefits-col:nth-child(2) .benefits-logo-iner {
    background-color: #FE6292;
}

.benefits-col:nth-child(3) .benefits-logo-iner {
    background-color: #6B72FF;
}

.benefits__image {
    position: absolute;
}

.benefits__image:nth-child(1) {
    top: 340px;
    left: -130px;
    transform: translateX(-150px);
    opacity: 0;
}

.benefits__image:nth-child(1)._active {
    transform: translateX(0px);
    opacity: 1;
}

.benefits__image:nth-child(2) {
    top: 370px;
    left: 806px;
}

.benefits__image:nth-child(3) {
    top: 600px;
    left: 246px;
}

.benefits__image:nth-child(4) {
    top: 272px;
    right: 558px;
    transform: translateY(-200px);
    opacity: 0;
}

.benefits__image:nth-child(4)._active {
    transform: translateY(0px);
    opacity: 1;
}

.benefits__image:nth-child(5) {
    top: 580px;
    right: 558px;
    transform: translateY(200px);
    opacity: 0;
}

.benefits__image:nth-child(5)._active {
    transform: translateY(0px);
    opacity: 1;
}

.benefits__image:nth-child(6) {
    top: 360px;
    right: 130px;
    transform: translateX(200px);
    opacity: 0;
}

.benefits__image:nth-child(6)._active {
    transform: translateX(0px);
    opacity: 1;
}

.benefits__image:nth-child(7) {
    top: -42px;
    right: -203px;
    transform: translateX(100px);
    opacity: 0;
}

.benefits__image:nth-child(7)._active {
    transform: translateX(0px);
    opacity: 1;
}

/* price */
.price {
    overflow: hidden;
}

.price-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    transform: translateY(150px);
    opacity: 0;
}

.price-top._active {
    transform: translateY(0px);
    opacity: 1;
}

.price__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 43px;
}

.price-card {
    height: 608px;
    width: 470px;
    border: 1px solid #FF553E;
    border-radius: 110px;
}

.price-card:nth-child(1) {
    transform: translateX(-150px);
    opacity: 0;
}

.price-card:nth-child(1)._active {
    transform: translateX(0px);
    opacity: 1;
}

.price-card:nth-child(2) {
    transform: translateX(150px);
    opacity: 0;
}

.price-card:nth-child(2)._active {
    transform: translateX(0px);
    opacity: 1;
}

.price-cards {
    display: flex;
    justify-content: space-between;
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
}

.price-row:nth-child(1) {
    font-weight: 700;
    font-size: 48px;
}

.price-row:nth-child(2),
.price-row:nth-child(3) {
    font-weight: 500;
    font-size: 28px;
}

.price-row:nth-child(4) {
    position: relative;
}

.price-row__number {
    font-size: 64px;
    font-weight: 700;
}

.price-row {
    display: flex;
    align-items: baseline;
}

.price-row__item {
    position: absolute;
    top: 16px;
    left: -13px;
}

.price-row__item_dimmed {
    color: #404040b7;
}

.price-card__orange {
    background-color: #FF553E;
    color: #fff;
    position: relative;
}

.price-row__link_orange {
    height: 76px;
    width: 240px;
    background-color: #FF553E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 40px;
}

.price-row__link_white {
    height: 76px;
    width: 240px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF553E;
    border-radius: 40px;
}

.price-checkbox {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    transform: translateY(120px);
    opacity: 0;
}

.price-checkbox._active {
    transform: translateY(0px);
    opacity: 1;
}

.real-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox-iner {
    margin: 0 20px;
}

.fake-checkbox {
    height: 40px;
    width: 84px;
    background-color: rgba(138, 47, 35, 0.3);
    border-radius: 40px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.fake-checkbox::before {
    content: '';
    height: 28px;
    width: 28px;
    background-color: #3a130e93;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    transition: 0.3s;
}

.real-checkbox:checked+.fake-checkbox {
    background-color: rgba(255, 84, 62, 0.3);
}

.real-checkbox:checked+.fake-checkbox::before {
    background-color: #FF553E;
    left: 48px;
}

.price-ckeckbox__title {
    color: #404040da;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.price__title_underline {
    position: relative;
}

.price__title_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    top: 15px;
    left: 131px;

}

.price__title_underline::after {
    content: 'Simple Price';
    position: absolute;
    left: 0;
}

.price-wrapper {
    position: relative;
}

.price__img {
    position: absolute;
}

.price__img:nth-child(1) {
    top: 558px;
    left: -179px;
    transform: translateX(-150px);
    opacity: 0;
}

.price__img:nth-child(1)._active {
    transform: translateX(0px);
    opacity: 1;
}

.price__img:nth-child(2) {
    top: 256px;
    right: 0px;
}

.price__img:nth-child(3) {
    top: 300px;
    right: 400px;
    transform: rotate(-45deg);
    opacity: 0;
}

.price__img:nth-child(3)._active {
    top: 147px;
    right: 80px;
    transform: rotate(0deg);
    opacity: 1;
}

/* partners */
.partners {
    background-color: #F8FEFE;
    padding-bottom: 250px;
    overflow: hidden;
}

.partners-right {
    display: flex;
    flex-direction: column;
    margin-left: 638px;
    padding-right: 106px;
    padding-top: 248px;
}

.partners__title {
    font-size: 48px;
    font-weight: 700;
}

.partners__info {
    line-height: 1.7;
    max-width: 465px;
    font-size: 18px;
    color: rgba(64, 64, 64, 0.744);
    margin-top: 40px;
    transform: translateY(150px);
    opacity: 0;
}

.partners__info._active {
    transform: translateY(0px);
    opacity: 1;
}

.partners__link {
    height: 76px;
    width: 184px;
    border: 1px solid #FF553E;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FF553E;
    margin-top: 50px;
    transform: translateY(150px);
    opacity: 0;
}

.partners__link._active {
    transform: translateY(0px);
    opacity: 1;
}

.partners-images {
    position: relative;
}

.partners-image-iner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.partners-image-iner:nth-child(1) {
    height: 152px;
    width: 240px;
    background-color: rgba(243, 82, 37, 0.1);
    border-radius: 40px;
    top: 92px;
    left: 183px;
    transform: translateX(-200px);
    opacity: 0;
}

.partners-image-iner:nth-child(1)._active {
    transform: translateX(0px);
    opacity: 1;
}

.partners-image-iner:nth-child(2) {
    height: 204px;
    width: 315px;
    background-color: rgba(51, 214, 100, 0.1);
    border-radius: 48px;
    top: 180px;
    left: 474px;
    transform: translateX(150px);
    opacity: 0;
}

.partners-image-iner:nth-child(2)._active {
    transform: translateX(0px);
    opacity: 1;
}

.partners-image-iner:nth-child(3) {
    height: 240px;
    width: 358px;
    background-color: rgba(255, 187, 0, 0.1);
    border-radius: 54px;
    top: 300px;
    left: 64px;
    transform: translateX(-150px);
    opacity: 0;
}

.partners-image-iner:nth-child(3)._active {
    transform: translateX(0px);
    opacity: 1;
}

.partners-image-iner:nth-child(4) {
    height: 243px;
    width: 358px;
    background-color: rgba(66, 134, 244, 0.1);
    border-radius: 54px;
    top: 440px;
    left: 474px;
    transform: translateX(150px);
    opacity: 0;
}

.partners-image-iner:nth-child(4)._active {
    transform: translateX(0px);
    opacity: 1;
}

.partners-image-iner:nth-child(5) {
    height: 152px;
    width: 240px;
    background-color: rgba(28, 96, 191, 0.1);
    border-radius: 54px;
    top: 600px;
    left: 180px;
    transform: translateX(-150px);
    opacity: 0;
}

.partners-image-iner:nth-child(5)._active {
    transform: translateX(0px);
    opacity: 1;
}

.partners-title-iner {
    transform: translateY(150px);
    opacity: 0;
}

.partners-title-iner._active {
    transform: translateY(0px);
    opacity: 1;
}

.partners__title_underline {
    position: relative;
}

.partners__title_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    left: 59px;
    top: 17px;
}

.partners__title_underline::after {
    content: 'Our Trusted';
    position: absolute;
    top: -1px;
    left: 0;
}

/* response */
.response {
    padding-top: 173px;
    padding-bottom: 140px;
    overflow: hidden;
}

.response-iner {
    display: flex;
    flex-direction: column;
}

.response-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(200px);
    opacity: 0;
}

.response-title._active {
    transform: translateY(0px);
    opacity: 1;
}

.response-title__item:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}

.response-title__item:nth-child(2) {
    color: rgba(64, 64, 64, 0.74);
    font-size: 18px;
    margin-top: 50px;
    display: inline-block;
}

.response-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 67px;
    transform: translateY(200px);
    opacity: 0;
}

.response-row._active {
    transform: translateY(0px);
    opacity: 1;
}

.response-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.response-col .response-col__item:nth-child(1) {
    font-size: 20px;
    color: rgba(64, 64, 64, 0.74);
    margin: 36px 0;
}

.response-col .response-col__item:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.response-col .response-col__item:nth-child(3) {
    font-size: 18px;
    color: rgba(64, 64, 64, 0.74);
}

.response-pagination {
    display: flex;
    width: 78px;
    justify-content: space-between;
    margin-top: 28px;
}

.response-pagination__item {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: rgba(255, 84, 62, 0.2);
    border-radius: 50%;
}

.response-title__item_underline {
    position: relative;
}

.response-title__item_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    left: -18px;
    top: 20px;
}

.response-title__item_underline::after {
    content: 'client';
    position: absolute;
    top: -1px;
    left: 0;
}

.response-wrapper {
    position: relative;
}

.response__img {
    position: absolute;
}

.response__img:nth-child(1) {
    top: 54px;
    left: 213px;
}

.response__img:nth-child(2) {
    top: -119px;
    left: 43px;
    transform: translateX(-300px);
    opacity: 0;
}

.response__img:nth-child(2)._active {
    transform: translateX(0px);
    opacity: 1;
}

.response__img:nth-child(3) {
    top: 334px;
    left: 647px;
    transform: translateY(200px);
    opacity: 0;
}

.response__img:nth-child(3)._active {
    transform: translateX(0px);
    opacity: 1;
}

.response__img:nth-child(4) {
    bottom: -86px;
    right: 86px;
    transform: translateY(200px);
    opacity: 0;
}

.response__img:nth-child(4)._active {
    transform: translateY(0px);
    opacity: 1;
}

.response__img:nth-child(5) {
    bottom: -42px;
    right: 121px;
    transform: translateX(200px);
    opacity: 0;
}

.response__img:nth-child(5)._active {
    transform: translateX(0px);
    opacity: 1;
}

/* apps */
.apps {
    background-color: #FFF8F2;
    overflow: hidden;
}

.apps-iner {
    display: flex;
    flex-direction: column;
    padding-top: 248px;
    padding-bottom: 138px;
}

.apps__title {
    font-size: 48px;
    font-weight: 600;
    transform: translateY(200px);
    opacity: 0;
}

.apps__title._active {
    transform: translateY(0px);
    opacity: 1;
}

.apps__info {
    font-size: 20px;
    color: #404040c7;
    max-width: 530px;
    margin-top: 50px;
    transform: translateY(200px);
    opacity: 0;
}

.apps__info._active {
    transform: translateY(0px);
    opacity: 1;
}

.apps-links {
    display: flex;
    margin-top: 50px;
    width: 395px;
    justify-content: space-between;
}

.apps-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 180px;
    border: 1px solid #FF553E;
    border-radius: 40px;
}

.apps-link:nth-child(1) {
    background-color: #FF553E;
    color: #fff;
    transform: translateX(-200px);
    opacity: 0;
}

.apps-link:nth-child(1)._active {
    transform: translateX(0px);
    opacity: 1;
}

.apps-link:nth-child(2) {
    color: #FF553E;
    transform: translateX(200px);
    opacity: 0;
}

.apps-link:nth-child(2)._active {
    transform: translateX(0px);
    opacity: 1;
}

.apps-link-info {
    display: flex;
    flex-direction: column;
}

.apps-link-info__item:nth-child(1) {
    font-size: 10px;
}

.apps-link__logo {
    margin-right: 9px;
}

.apps__title_underline {
    position: relative;
}

.apps__title_underline::before {
    content: url(/img/Shape.svg);
    position: absolute;
    left: -18px;
    top: 22px;
}

.apps__title_underline::after {
    content: 'For free';
    position: absolute;
    top: -1px;
    left: 0;
}

.apps-wrapper {
    position: relative;
}

.apps__img {
    position: absolute;
}

.apps__img:nth-child(1) {
    top: -100px;
    left: -340px;
}

.apps__img:nth-child(1)._active {
    top: 0;
    left: -74px;
}

.apps__img:nth-child(2) {
    top: 278px;
    right: -15px;
    transform: translateX(200px);
    opacity: 0;
}

.apps__img:nth-child(2)._active {
    transform: translateX(0px);
    opacity: 1;
}

.apps__img:nth-child(3) {
    top: 86px;
    right: 509px;
    transform: translateY(200px);
    opacity: 0;
}

.apps__img:nth-child(3)._active {
    transform: translateY(0px);
    opacity: 1;
}

/* footer */
.footer {
    height: 350px;
    overflow: hidden;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(64, 64, 64, 0.288);
    padding: 130px 0 57px 0;
    transform: translateY(200px);
    opacity: 0;
}

.footer-top._active {
    transform: translateY(0px);
    opacity: 1;
}

.footer-bot {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px 0;
    transform: translateY(50px);
    opacity: 0;
}

.footer-bot._active {
    transform: translateY(0px);
    opacity: 1;
}

.footer-socials {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    margin: 0 24px;
}

.footer__link {
    color: #1C0E0D;
}

.footer-bot-left__link,
.footer-bot-left {
    color: #404040;
}

.footer-bot-left__link:nth-child(1) {
    margin-right: 108px;
}

/* media-queries */

@media screen and (max-width: 1790px) {
    .baner__image:nth-child(1) {
        left: 88px;
    }

    .baner__image:nth-child(2) {
        left: 230px;
    }

    .baner__image:nth-child(5)._active {
        transform: translateX(-50px);
    }

    .benefits__image:nth-child(1)._active {
        transform: translateX(-68px);
    }

    .benefits__image:nth-child(2) {
        left: 714px;
    }

    .benefits__image:nth-child(3) {
        left: 178px;
    }

    .baner__image:nth-child(9) {
        right: 435px;
    }

    .baner__image:nth-child(8) {
        right: 580px;
    }

    .response__img:nth-child(3)._active {
        transform: translateX(-97px);
    }

    .apps__img:nth-child(2)._active {
        transform: translateX(103px);
    }

    .apps__img:nth-child(3) {
        right: 374px;
    }

    .apps__img:nth-child(1)._active {
        left: -118px;
    }

    .apps-iner {
        margin-left: 50px;
    }

    .partners-right {
        margin-left: 704px;
    }

    .benefits__image:nth-child(6)._active {
        transform: translateX(110px);
    }

    .benefits__image:nth-child(4),
    .benefits__image:nth-child(5) {
        right: 430px;
    }

    .benefits-col {
        margin-left: 50px;

    }

}

@media screen and (max-width: 1600px) {

    .baner-bot {
        width: 100%;
    }

    .baner__image:nth-child(5) {
        display: none;
    }

    .baner__image:nth-child(4)._active {
        display: none;
    }

    .baner__image:nth-child(6) {
        left: 260px;
    }

    .baner__image:nth-child(7) {
        display: none;
    }

    .baner__image:nth-child(8) {
        right: 275px;
    }

    .baner__image:nth-child(9) {
        right: 126px;
    }

    .baner__image:nth-child(2) {
        left: 156px;
        top: 46px;
    }

    .baner__image:nth-child(3) {
        top: 10px;
    }

    .baner__image:nth-child(1) {
        left: 2px;
        top: 17px;
    }

    .features-wraper__img:nth-child(1) {
        right: 290px;
        top: 204px;
    }

    .features-wraper__img:nth-child(1)._active {
        right: 45px;
        top: -20px;
    }

    .benefits__image:nth-child(1) {
        top: 0;
        right: -92px;
        left: inherit;
        height: 260px;
    }

    .benefits__image:nth-child(2) {
        display: none;
    }

    .benefits__image:nth-child(3) {
        display: none;
    }

    .benefits__image:nth-child(4) {
        top: 310px;
        right: 133px;
    }

    .benefits__image:nth-child(5) {
        display: none;
    }

    .benefits__image:nth-child(6) {
        height: 306px;
        width: 270px;
        top: 614px;
        right: 240px;
    }

    .benefits__image:nth-child(7) {
        display: none;
    }

    .benefits-col {
        margin-left: 0;
    }

    .benefits-col:nth-child(2) {
        margin-left: 0;
    }

    .analytics-iner {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .analytics-left {
        width: 100%;
        height: 100%;
    }

    .analytics-left__img:nth-child(2) {
        top: -120px;
        left: 100px;

    }

    .analytics-left__img:nth-child(4) {
        top: -168px;
        left: 407px;
    }

    .analytics-left__img:nth-child(6) {
        top: 260px;
        left: 286px;
    }

    .analytics-left__img:nth-child(5) {
        left: 8px;
    }

    .analytics-left__img:nth-child(3) {
        left: 0px;
    }

    .analytics-left__bground {
        left: -230px;
    }

    .analytics-left__img:nth-child(7) {
        bottom: inherit;
        left: 187px;
        top: 537px;
    }

    .analytics-left__img:nth-child(8) {
        left: -170px;
    }

    .price-cards {
        justify-content: space-around;
    }

    .price-card {
        height: 214px;
        width: 273px;
        border-radius: 30px;
        display: grid;
        padding: 36px 26px;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title price"
            "info_1 info_1"
            "info_2 info_2"
            "link link"
        ;
    }

    .price-row:nth-child(1) {
        grid-area: title;
    }

    .price-row:nth-child(2) {
        grid-area: info_1;
    }

    .price-row:nth-child(3) {
        grid-area: info_2;
    }

    .price-row:nth-child(4) {
        grid-area: price;
        margin-left: 37px;
    }

    .price-row:nth-child(5) {
        grid-area: link;
        margin-left: 15px;
    }

    .price-row:nth-child(1) {
        font-size: 20px;
    }

    .price-row:nth-child(2),
    .price-row:nth-child(3) {
        font-size: 18px;
    }

    .price-row__number {
        font-size: 28px;
    }

    .price-row__item {
        top: 7px;
    }

    .price__img:nth-child(3) {
        height: 170px;
    }

    .price__img:nth-child(3)._active {
        top: 128px;
        right: 10px;
    }

    .price__img:nth-child(2) {
        height: 100px;
        top: 216px;
        right: -10px;
    }

    .analytics-wraper {
        margin-bottom: 0px;
    }

    .price__img:nth-child(1) {
        top: 0px;
        left: -179px;
    }

    .partners-image-iner:nth-child(5) {
        display: none;
    }

    .partners-image-iner:nth-child(1),
    .partners-image-iner:nth-child(2),
    .partners-image-iner:nth-child(3),
    .partners-image-iner:nth-child(4) {
        height: 240px;
        width: 240px;
    }

    .partners-image-iner:nth-child(1) {
        top: 180px;
        left: 115px;
    }

    .partners-image-iner:nth-child(2) {
        top: 180px;
        left: 374px;
    }

    .partners-image-iner:nth-child(3) {
        top: 438px;
        left: 115px;
    }

    .partners-image-iner:nth-child(4) {
        top: 440px;
        left: 374px;
    }

    .partners-image-iner:nth-child(1) .partners__image,
    .partners-image-iner:nth-child(2) .partners__image {
        height: 87px;
        width: 87px;
    }

    .partners-right {
        padding-right: 0;
        margin-left: 645px;
    }

    .response__img:nth-child(3) {
        left: 430px;
    }

    .apps__img:nth-child(1) {
        display: none;
    }

    .apps__img:nth-child(2) {
        height: 110px;
        right: 80px;
        top: 114px;
    }

    .apps__img:nth-child(3) {
        display: none;
    }

    .apps-iner {
        align-items: center;
        padding: 50px 0;
    }

    .apps__info {
        max-width: 395px;
    }
}


@media screen and (max-width: 1200px) {

    .features-wrapper {
        margin-top: 0;
    }

    .features-card-front {
        height: 180px;
        width: 323px;
        padding: 20px;
        border-radius: 30px;
    }

    .features-card-back {
        height: 180px;
        width: 323px;
        padding: 20px;
        border-radius: 30px;
    }

    .features-card-title:nth-child(1) {
        font-size: 20px;
    }

    .features-card-title:nth-child(2),
    .features-card-title:nth-child(3) {
        font-size: 16px;
    }

    .features-card-img-iner {
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }

    .features-card-front .features-card-img-iner:before {
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }

    .features-card-wrapper:nth-child(1) .features-card-front .features-card-img-iner::after {
        content: url(/img/task-list-mini.svg);
    }

    .features-card-wrapper:nth-child(2) .features-card-front .features-card-img-iner::after {
        content: url(/img/bell-1-mini.svg);
    }

    .features-card-wrapper:nth-child(3) .features-card-front .features-card-img-iner::after {
        content: url(/img/agenda-1-mini.svg);
    }

    .features-cadrs {
        display: flex;
        flex-direction: column;
    }

    .features-card-wrapper {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .features-wraper__img:nth-child(1) {
        right: 290px;
        top: 204px;
    }

    .features-wraper__img:nth-child(1)._active {
        right: 58px;
        top: 96px;
    }

    .partners {
        padding-bottom: 620px;
    }

    .partners-right {
        padding-top: 50px;
        margin-left: 264px;
    }

    .partners-image-iner:nth-child(1) {
        top: 430px;
        left: 285px;
    }

    .partners-image-iner:nth-child(2) {
        top: 430px;
        left: 544px;
    }

    .partners-image-iner:nth-child(3) {
        top: 688px;
        left: 285px;
    }

    .partners-image-iner:nth-child(4) {
        top: 690px;
        left: 544px;
    }

    .response {
        padding-top: 50px;
    }

    .response-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .response-col {
        max-width: 556px;
    }

    .response__img:nth-child(1) {
        top: 100px;
        left: 60px;
        height: 120px;
    }

    .response__img:nth-child(2) {
        height: 150px;
        top: -39px;
        left: -7px;
    }

    .response__img:nth-child(3) {
        left: 514px;
        top: 539px;
        height: 150px;
    }

    .apps-iner {
        align-items: flex-start;
    }

    .baner-title {
        font-size: 50px;
    }

    .baner__image:nth-child(6) {
        left: 220px;
    }

    .baner__image:nth-child(8) {
        right: 240px;
    }

    .baner__image:nth-child(9) {
        right: 100px;
    }

    .baner-bot {
        bottom: -482px;
    }

    .price-top {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1024px) {

    .header-iner {
        align-items: center;
    }

    .header-menu-iner {
        display: none;
    }

    .header-auth {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .baner__image:nth-child(9) {
        display: none;
    }

    .features-title__item:nth-child(1) {
        font-size: 40px;
    }

    .features-wraper__img:nth-child(1) {
        right: inherit;
        left: -225px;
        top: 400px;
        height: 150px;
        opacity: 1;
    }

    .features-wraper__img:nth-child(1)._active {
        top: 206px;
        left: -20px;
    }

    .benefits {
        padding-bottom: 270px;
        overflow: visible;
    }

    .benefits__image:nth-child(1) {
        height: 200px;
    }

    .benefits-title__item:nth-child(1) {
        font-size: 42px;
    }

    .benefits-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        overflow: hidden;
    }

    .benefits-col {
        margin: 20px 0;
    }

    .benefits__image:nth-child(6) {
        top: 700px;
        left: -40px;
        right: inherit;
    }

    .benefits__image:nth-child(4) {
        top: inherit;
        bottom: -173px;
        right: 65px;
    }

    .benefits-title {
        padding-top: 60px;
        max-width: 400px;
    }

    .benefits-title__item:nth-child(2),
    .benefits-title__item:nth-child(3) {
        display: none;
    }

    .benefits__image:nth-child(1) {
        top: -40px;
        right: -76px;
    }

    .price-cards {
        flex-direction: column;
        align-items: center;
    }

    .price-card {
        margin: 14px;
    }

    .partners {
        padding-bottom: 380px;
    }

    .partners-right {
        margin-left: 170px;
    }

    .partners-image-iner:nth-child(1),
    .partners-image-iner:nth-child(2),
    .partners-image-iner:nth-child(3),
    .partners-image-iner:nth-child(4) {
        height: 120px;
        width: 120px;
        border-radius: 20px;
    }

    .partners-image-iner:nth-child(1) .partners__image,
    .partners-image-iner:nth-child(2) .partners__image,
    .partners-image-iner:nth-child(3) .partners__image,
    .partners-image-iner:nth-child(4) .partners__image {
        height: 64px;
        width: 73px;
    }

    .partners-image-iner:nth-child(1) {
        left: 182px;
    }

    .partners-image-iner:nth-child(2) {
        left: 318px;
    }

    .partners-image-iner:nth-child(3) {
        top: 565px;
        left: 182px;
    }

    .partners-image-iner:nth-child(4) {
        top: 566px;
        left: 318px;
    }

    .response__img:nth-child(1) {
        top: 193px;
        left: 381px;
        height: 120px;
    }

    .response__img:nth-child(2) {
        height: 150px;
        top: 78px;
        left: 110px;
    }

    .response__img:nth-child(3) {
        left: 642px;
        top: 197px;
    }

    .response__img:nth-child(4),
    .response__img:nth-child(5) {
        display: none;
    }

    .response-title__item:nth-child(2) {
        display: none;
    }

    .response-row {
        margin-top: 260px;
    }

    .analytics-left__img:nth-child(2) {
        height: 500px;
    }

    .analytics-left__img:nth-child(4) {
        top: -160px;
        left: 286px;
        height: 150px;
    }

    .analytics-left__img:nth-child(5) {
        top: 20px;
        left: 34px;
        height: 122px;
    }

    .analytics-left__img:nth-child(6) {
        top: 85px;
        left: 217px;
        height: 130px;
    }

    .analytics-left__img:nth-child(7) {
        bottom: inherit;
        left: 160px;
        top: 279px;
        height: 55px;
    }

    .analytics-left__bground {
        height: 328px;
        width: 603px;
        background-color: #FFF8F2;
        position: absolute;
        top: -19px;
    }

    .analytics-iner {
        grid-template-rows: 0.6fr 1fr;
    }

    .footer {
        height: initial;
    }

    .footer-links {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer__link {
        margin: 10px;
    }

    .footer-top {
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .baner {
        height: 650px;
    }

    .baner__image:nth-child(1) {
        display: none;
    }

    .baner__image:nth-child(2) {
        left: initial;
        right: 50px;
        height: 100px;
        top: 0px;
    }

    .baner-top {
        justify-content: flex-start;
        text-align: left;
    }

    .baner-info {
        align-items: flex-start;
        margin-top: 0;
    }

    .baner-title {
        font-size: 33px;
    }

    .baner-bot {
        bottom: -340px;
    }

    .baner__image:nth-child(6) {
        top: initial;
        bottom: -89px;
        left: 0;
    }

    .baner__image:nth-child(8) {
        top: initial;
        bottom: -10px;
        right: 160px;
    }

    .features-iner {
        padding-top: 20px;
    }

    .features-wraper__img:nth-child(2) {
        display: none;
    }

    .features-title__item:nth-child(1) {
        font-size: 25px;
    }

    .features-title__item {
        font-size: 16px;
    }

    .features-title__item_underline::before {
        content: url(/img/Shape-2.svg);
        top: 10px;
    }

    .features-wraper__img:nth-child(1) {
        right: inherit;
        left: -225px;
        top: 400px;
        height: 100px;
        opacity: 1;
    }

    .features-wraper__img:nth-child(1)._active {
        top: 134px;
        left: -20px;
    }

    .analytics-title__item {
        font-size: 25px;
    }

    .analytics-title__item_underline::before {
        content: url(/img/Shape-2.svg);
        top: 10px;
        left: -142px;
    }

    .analytics-title__item_underline {
        color: #fff;
    }

    .analytics-title__item_underline::after {
        color: #000;
    }

    .analytics-info {
        max-width: 400px;
        margin-top: 25px;
    }

    .analytics-info__item {
        font-size: 16px;
    }

    .analytics-row {
        margin: 24px 0;
    }

    .analytics-row-img-iner {
        height: 56px;
        width: 56px;
        border-radius: 10px;
    }

    .analytics-row__img {
        height: 30px;
        width: 30px;
    }

    .analytics-row-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .analytics-row-text {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .analytics-right {
        padding-top: 80px;
    }

    .benefits {
        padding-bottom: 560px;
    }

    .benefits-logo-iner {
        height: 56px;
        width: 56px;
        border-radius: 10px;
    }

    .benefits-logo-iner img {
        height: 32px;
        width: 32px;
    }

    .benefits-col__title:nth-child(1) {
        font-size: 18px;
    }

    .benefits-col__text:nth-child(2),
    .benefits-col__text:nth-child(3) {
        font-size: 14px;
        margin-top: 10px;
    }

    .benefits-title__item:nth-child(1) {
        font-size: 24px;
    }

    .benefits-title__item_underline::before {
        content: url(/img/Shape-2.svg);
        top: 9px;
        left: -5px;
    }

    .benefits-title__item_underline {
        color: transparent;
    }

    .benefits-title__item_underline::after {
        color: #000;
    }

    .benefits-title {
        max-width: 230px;
    }

    .benefits__image:nth-child(1) {
        height: 150px;
    }

    .benefits__image:nth-child(6) {
        bottom: -519px;
        right: 140px;
        top: initial;
        left: initial;
        transform: translateX(-50px);
    }

    .benefits__image:nth-child(4) {
        left: 50px;

    }

    .price__img:nth-child(1),
    .price__img:nth-child(2),
    .price__img:nth-child(3) {
        display: none;
    }

    .price__title {
        font-size: 24px;
    }

    .price__title_underline::before {
        content: url(/img/Shape-2.svg);
        top: 10px;
        left: 37px;
    }

    .partners-right {
        margin-left: 25px;
    }

    .partners__title {
        font-size: 24px;
    }

    .partners-image-iner:nth-child(1) {
        left: 0px;
    }

    .partners-image-iner:nth-child(2) {
        left: 136px;
    }

    .partners-image-iner:nth-child(3) {
        left: 0px;
    }

    .partners-image-iner:nth-child(4) {
        left: 136px;
    }

    .partners__title_underline {
        color: transparent;
        font-size: 24px;
    }

    .partners__title_underline::before {
        content: url(/img/Shape-2.svg);
        left: 39px;
        top: 7px;
    }

    .partners__title_underline::after {
        color: #000;
        font-size: 24px;
    }

    .response-title__item:nth-child(1) {
        font-size: 24px;
    }

    .response-title__item_underline {
        color: transparent;
    }

    .response-title__item_underline::before {
        content: url(/img/Shape-2.svg);
    }

    .response-title__item_underline::after {
        color: #000;
    }

    .response__img:nth-child(1) {
        top: 292px;
        left: 196px;
        height: 92px;
    }

    .response__img:nth-child(2) {
        height: 100px;
        top: 48px;
        left: 0;
    }

    .response__img:nth-child(3) {
        left: initial;
        top: 572px;
        right: -84px;
        height: 100px;
    }

    .response-col .response-col__item:nth-child(1) {
        font-size: 18px;
    }

    .response-row {
        margin-top: 100px;
    }

    .apps__title {
        font-size: 24px;
    }

    .apps__title_underline {
        color: transparent;
    }

    .apps__title_underline::after {
        color: #000;
    }

    .apps__title_underline::before {
        content: url(/img/Shape-2.svg);
        font-size: 24px;
        left: 9px;
        top: 9px;
    }

    .apps__info {
        font-size: 16px;
        margin-top: 20px;
    }

    .apps__img:nth-child(2) {
        height: 60px;
        top: 180px;
    }

    .apps-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .apps-link {
        margin: 16px 0;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        margin: 20px 0;
    }

    .footer-bot {
        flex-wrap: wrap;
    }

    .footer-bot-left {
        margin-bottom: 10px;
    }

    .footer-bot-left__link:nth-child(1) {
        margin-right: 10px;
    }
}

@media screen and (max-width: 555px) {
    .baner {
        height: 730px;
    }

    .baner-title {
        font-size: 22px;
    }

    .baner-title__item {
        margin: 0;
    }

    .baner-title__item:nth-child(2) {
        margin: 10px 0;
    }

    .baner-title__item:nth-child(2)::before {
        content: url(/img/Shape-2.svg);
        top: 9px;
    }

    .baner-info {
        margin-top: 90px;
    }

    .baner-info__text {
        margin-top: 15px;
    }

    .baner__image:nth-child(8) {
        top: initial;
        bottom: -96px;
        right: 0px;
    }

    .baner-bot-iner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .baner-bot {
        border-radius: 0;
        width: 106%;
        height: 300px;
        bottom: -400px;
    }

    .baner-bot-item {
        padding-bottom: 10px;
    }

    .baner-bot-item:nth-child(1),
    .baner-bot-item:nth-child(2) {
        border-bottom: 2px solid rgba(204, 204, 204, 0.4);
    }

    .features {
        margin-top: 0px;
    }

    .features-card-front {
        height: 140px;
        width: 283px;
        padding: 20px;
        border-radius: 30px;
    }

    .features-card-back {
        height: 140px;
        width: 283px;
        padding: 20px;
        border-radius: 30px;
    }

    .features-wraper__img:nth-child(1) {
        top: -90px;
        height: 80px;
    }

    .analytics-left__bground {
        height: 244px;
        width: 496px;
    }

    .analytics-left__img:nth-child(2) {
        height: 335px;
        top: -77px;
        left: 80px;
    }

    .analytics-left__img:nth-child(3) {
        top: -128px;
        left: 1px;
        height: 100px;
    }

    .analytics-left__img:nth-child(4) {
        top: -110px;
        left: 208px;
        height: 100px;
    }

    .analytics-left__img:nth-child(5) {
        top: -1px;
        left: 22px;
        height: 100px;
    }

    .analytics-left__img:nth-child(6) {
        top: 57px;
        left: 147px;
        height: 93px;
    }

    .analytics-left__img:nth-child(7) {
        bottom: inherit;
        left: 124px;
        top: 190px;
        height: 37px;
    }

    .analytics-wraper {
        margin-top: 134px;
    }

    .benefits__image:nth-child(1) {
        height: 104px;
        top: -20px;
    }

    .benefits-col-item {
        margin-left: 20px;
    }

    .price__title {
        font-size: 23px;
    }

    .partners {
        padding-bottom: 340px;
    }

    .partners__info {
        margin-top: 16px;
        font-size: 16px;
    }

    .partners-image-iner:nth-child(1) {
        top: 370px;
    }

    .partners-image-iner:nth-child(2) {
        top: 370px;
    }

    .partners-image-iner:nth-child(3) {
        top: 506px;

    }

    .partners-image-iner:nth-child(4) {
        top: 506px;

    }




}

@media screen and (max-width: 320px) {}